asgiref==3.8.1
certifi==2025.4.26
customtkinter==5.2.2
darkdetect==0.8.0
ffmpeg-python==0.2.0
future==1.0.0
packaging==23.2
pillow==11.3.0
sqlparse==0.5.3
tzdata==2025.2
yt-dlp==2025.6.9
requests==2.32.4